<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find omni_navigation)/maps/map.yaml"/>
    <arg name="local_planner" default="teb" />
    <arg name="dog_name" default="big_dog" />  
    <!-- "big_dog" or "small_dog" -->

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find omni_navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find omni_navigation)/launch/move_base_gp.launch">
      <arg name="dog_name" value="$(arg dog_name)" />
    </include>
</launch>
